.menu{
    width: 20%;
    height: 100%;
    float: left;
    position: relative;
    box-sizing: border-box;
    padding: 12px;
}

.input{
    width: calc(100% - 20px);
    height: 32px;
    margin: 10px 0 0 7px;
    border: 0;
    padding-left: 5px;
    background: #FFF;
    outline: none;
    box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.5);
}

.txtarea{
    width: calc(100% - 20px);
    height: 135px;
    margin: 10px 0 0 7px;
    resize: none;
    border: 0;
    padding-left: 5px;
    background: #FFF;
    box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.5);
    outline: none;
}

.submit{
    width: calc(100% - 13px);
    height: 32px;
    margin: 10px 0 0 7px;
    font-family: 'Roboto', sans-serif;
    background-color: #025D8C;
    color: #FFF;
    font-weight: bolder;
    cursor: pointer;
    box-sizing: border-box;
    border: 0;
    box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.5);
}

.submit:hover{
    background-color: #388E3C;
    color: #FFF;
}