.comment{
    width: 100%;
    height: 100px;
    float: left;
    margin-left: 7px;
    margin-top: 7px;
    position: relative;
    box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.5);
}

a{
    color: #b1b1b1;
    text-decoration: none;
    width: 100%;
    height: 100%;
    position: absolute;
    line-height: 32px !important;
    text-align: center;
    top: 0;
    left: 0;
}

.body{
    height: 80%;
    width: 100%;
    float: left;
    background-color: #F1F1F1;
    position: relative;
}

.email{
    float: left;
    box-sizing: border-box;
    width: 50%;
    height: 32px;
    color: #b1b1b1;
    position: relative;
}

.email:hover{
    background-color: #388E3C;
    cursor: pointer;
}

.email:hover a{
    color: #FFF;
}

.mailIcon{
    width: 45px;
    height: 32px;
    float: left;
    line-height: 32px;
    position: relative;
}

.mailMsg{
    font-size: 11px;
    width: calc(100% - 45px);
    height: 32px;
    float: left;
    line-height: 32px;
    position: relative;
}

.now{
    height: 32px;
    width: 50%;
    float: left;
    background-color: #025D8C;
}

.username{
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    width: 66%;
    color: #F1F1F1;
    float: left;
    padding-left: 5px;
    display: block;
    word-wrap: normal;
    text-overflow: ellipsis;
}

.date{
    box-sizing: border-box;
    height: 100%;
    width: 34%;
    color: #F1F1F1;
    float: left;
}

.day{
    float: left;
    height: 18px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
    line-height: 18px;
}

.time{
    float: left;
    height: 14px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
}

.content{
    background-color: #FAFAFA;
    width: 100%;
    height: 68px;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}